container_commands:
  00_collectstatic:
    command: |
      . /var/app/venv/*/bin/activate
      python manage.py collectstatic --noinput
    leader_only: true

  01_migrate:
    command: |
      . /var/app/venv/*/bin/activate
      python manage.py migrate --noinput
    leader_only: true

  02_increase_upload_limit:
    command: |
      echo "client_max_body_size 50M;" > /etc/nginx/conf.d/proxy_upload_limit.conf
    leader_only: true
    
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: gkart.settings